




.print-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 10px;
  font-size: 16px;
}

.print-button:hover {
  background-color: #45a049;
}


.create-button{
  /* margin-top: 200px; */
  margin-left: 1000px;
}

.modal-content{
  color: black;
  background-color: white;
}

input[type='text'],input[type='number'],input[type='tel'],input[type='creatable'],input[type='date']{
  width: 100%;
  min-width: 200px;
}


.invoice-container {
  background: #fff;
  max-width: 210mm; /* A4 width */
  height: 297mm; /* A4 height */
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 20px;
}

.img1 {
  align-items: center;
  opacity: 40%;
  width: 700px;
}

.invoice-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #ddd;
  padding-bottom: 20px;
}

.company-logo img {
  align-items: center;
  margin-top: 20px;
  width: 250px;
}

.company-logo h1 {
  font-weight: bold;
  text-align: center;
  font-size: 2.1rem;
  color: #007bff;
}

.company-logo p {
  text-align: center;
  font-size: 0.75rem;
}

.invoice-details {
  text-align: left;
}

.invoice-details h2 {
  font-size: 1.3rem;
  color: #007bff;
}

.billing-info {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.bill-from,
.bill-to {
  width: 48%;
}

.bill-from h3,
.bill-to h3 {
  font-size: 1.2rem;
  color: #007bff;
  margin-bottom: 10px;
}

.invoice-items table {
  background-image: url(./Logo1.png);
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.invoice-items th,
.invoice-items td {
  text-align: center;
  padding: 10px;
  border: 1px solid #ddd;
}

.invoice-items th {
  background: #0c6de58f;
  color: black;
}

.invoice-items td {
  background: #fff;
}

.invoice-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 2px solid #ddd;
}

.notes h3 {
  font-size: 1rem;
}

.payment {
  text-align: justify;
  /* margin-top: -150px; */
  padding-top: 0px;
}

.payment h3 {
  font-size: 1rem;
}

.payment p {
  font-size: 0.80rem;
}

.total h3 {
  font-size: 1rem;
}

/* Media query for print */
@media print {
  .create-button{
    display: none;
  }
  body {
      margin: 0;
      padding: 0;
      background: #fff; /* Ensure white background for printing */
  }

  .invoice-container {
      box-shadow: none;
      border-radius: 0;
      width: 210mm; /* Full A4 width */
      height: 297mm; /* Full A4 height */
      padding: 10mm; /* Add padding to prevent cutoff */
  }

  .img1 {
      opacity: 30%; /* Reduce opacity for better readability in print */
  }
}