

.invoice-container {
    background-image: url(../../../assets/bg1.jpg);
    background-size: cover; 
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center center;
    width: 212mm; /* A4 width */
    height: 299mm; /* A4 height */
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 20px;
  
}


.invoice-header {
    display: flex;
    background: none;
    box-shadow: none;
    justify-content: space-between;
    border-bottom: 2px solid #cacaca;
    margin-top: 10px;
    /* padding-bottom: 20px; */
}

.company-logo img {
    align-items: center;
    margin-top: 10px;
    width: 240px;
}

.company-logo1 h1 {
    font-family: "Merriweather", serif;
    font-weight: 1000;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    font-size: 2.1rem;
    color: #000080;
}
.company-logo1 h4 {
   
  
    font-weight: bold;
    text-align: center;
 
}

.company-logo1 p {
    text-align: center;
    font-size: 0.75rem;
    font-weight: 600;
}

.invoice-details {
    text-align: left;
}

.invoice-details table {
   border:none;

}
.invoice-details td{
    border:none;
}

.invoice-details h2 {
    font-size: 1.3rem;
    color: #ff8800;
    /* font-weight: 300; */
}

.billing-info {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.bill-from,
.bill-to {
    width: 48%;
}

.bill-from h3,
.bill-to h3 {
    font-size: 1.2rem;
    color: #ff7700;
    margin-bottom: 10px;
}

.invoice-items table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.invoice-items th,
.invoice-items td {
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
}

.invoice-items th {
    background: #e5b20c8f;
    color: black;
}

.invoice-items td {
    background: #fff;
}

.invoice-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 2px solid #cacaca;
  position:sticky;
    bottom:0;
    page-break-inside: avoid;
    
}

.notes h3 {
    font-size: 1rem;
    color: black;
}

.payment {
    text-align: justify;
    color: black;
    padding-top: 0px;
}

.payment h3 {
    font-size: 1.3rem;
    color: black;
}

.payment p {
    font-weight: 600;
    font-size: 0.80rem;
    color: black;
}

.total h3 {
    font-size: 1rem;
    color: black;
}

/* Media query for print */
@media print {
    body {
        margin: 0;
        padding: 0;
        background: #fff; /* Ensure white background for printing */
    }
     .invoice-footer {
    position: fixed;
    bottom: 0;

   background-color: none; /* Optional: Add background color to make sure it doesn't overlap with content */
    page-break-before: auto; /* Ensure the footer starts from a new page if needed */
  }

    .invoice-container {
        box-shadow: none;
        border-radius: 0;
        width: 210mm;
        height: 297mm;
        padding: 10mm; /* Add padding for printer safety */
    }
    .btn {
        display: none !important;
      }

}