body{
  background-color: #14161e;

}

.customer-box {
  max-width: auto;
  height: 1080px;
  padding: 20px;
  /* background-color: #14161e; */
}

.customerbox{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.customerbox h2{
  color: black;
}

.data h2{
  /* size: 1.3rem; */
  color: black;
  margin-bottom: 30px;
}


.data button {
  background-color: #007bff;
  color: white;
  /* border: none; */
  padding: 10px 20px;
  cursor: pointer;
  margin-right: -700px;
  margin-bottom: 40px;
  margin: 5px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #0056b3;
}

.close-button {
  background-color: #ff4d4d;
}

.close-button:hover {
  background-color: #ff1a1a;
}

.add-part-button {
  margin-top: 10px;
}

.submit-button {
  margin-top: 20px;
}

.tabular-information {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  text-transform: uppercase;

}

.tabular-information th,
.tabular-information td {
  text-transform: uppercase;
  border: 1px solid #ddd;
  padding: 8px;
}

.tabular-information th {
  background-color: #f2f2f2;
  text-align: left;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  color: white;
  /* padding: 40px; */
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  border-radius: 10px;
  max-width: 500px;
  width: 100%;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.parts-header {
  margin-top: 20px;
}

.parts-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.parts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.added-parts {
  margin-left: 20px;
}

.added-parts ul {
  list-style: none;
  padding: 0;
}

/* Media Queries for Responsive Design */

@media (max-width: 768px) {
  .modal-content {
    width: 90%;
    max-width: none;
  }

  .parts-container {
    flex-direction: column;
  }

  .added-parts {
    margin-left: 0;
    margin-top: 20px;
  }

  .tabular-information {
    font-size: 14px;
  }

  .button {
    padding: 8px 16px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .tabular-information th, .tabular-information td {
    padding: 6px;
  }

  .button {
    padding: 6px 12px;
    font-size: 12px;
  }

  .customer-box {
    /* margin-right: 200px; */
    padding: 40px;
  }
}

.form-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.form-row label {
  color: black;
  margin-bottom: 5px;
}

.form-row input {
  min-width: 320px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}